/* sm */
@media (min-width: 640px) {
  /* Header */
  #header {
    padding: 0 1.5rem;
  }

  /* Our Team */
  #our-team ul.people {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  #our-team > div > div {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  #our-team > div > div > div > * + * {
    margin-top: 1rem;
  }

  #our-team > div > div > div h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  /* Presentation */
  #presentation iframe {
    max-height: 304px;
    max-width: 540px;
  }
}

/* md */
@media (min-width: 768px) {
  #header nav {
    align-items: center;
    display: flex;
    height: 100%;
  }

  #header nav > * + * {
    margin-left: 2rem;
  }

  #header nav a {
    align-items: center;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    color: var(--cascade-light-purple);
    display: flex;
    font-size: 1.1rem;
    font-weight: 500;
    height: 100%;
    line-height: 1.25rem;
    text-decoration: none;
  }

  #header nav a.icon {
    font-size: 2rem;
  }

  #header nav a:hover {
    border-bottom-color: var(--cascade-pink);
    color: var(--cascade-pink);
  }

  #header nav a.selected {
    border-bottom-color: var(--cascade-pink);
    color: var(--cascade-pink);
  }

  #mobile-menu,
  .mobile-menu-open #mobile-menu {
    display: none;
  }

  #menu {
    display: none;
  }
  /* Our Team */
  #our-team > div > div > div {
    max-width: 36rem;
  }

  /* Presentation */
  #presentation iframe {
    max-height: 376px;
    max-width: 668px;
  }
}

/* lg */
@media (min-width: 1024px) {
  #header {
    padding: 0 2rem;
  }

  /* Case Study */

  :root {
    --toc-width: 250px;
  }

  #case-study-content > div {
    margin-left: var(--toc-width);
    padding: 4rem;
  }

  #toc.show {
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  /* Our Team */
  #our-team > div > div {
    padding: 6rem 2rem;
  }

  #our-team > div > div > div {
    max-width: 48rem;
  }

  #our-team ul.people {
    /* margin-top: 1rem; */
    gap: 2rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  /* Presentation */
  #presentation iframe {
    max-height: 520px;
    max-width: 924px;
  }

  #presentation h2 {
    font-size: 2.67rem;
  }

  /* Start Here */
  #start-here > div {
    display: flex;
    flex-direction: row;
  }

  #start-here > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #start-here .static-graphic-color {
    background-image: url("../images/cascade-white.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 30%;
    background-position: 15%;
    width: 100%;
    height: 100%;
  }

  /* #start-here div.static-graphic-green-greyscale {
    background-image: url("../images/logo/QMantis_graphic_greyscale.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    background-position: calc(25% / 3) calc(45% + 2rem);
    display: flex;
  } */

  /* #start-here div.static-graphic-orange-greyscale {
    background-image: url("../images/logo/QMantis_graphic_greyscale.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    background-position: calc(25% / 3) calc(45% + 2rem);
    display: flex;
  } */

  #start-here .h-full {
    height: calc(100vh - 4rem);
  }

  #start-here h2.sm-header {
    display: none;
  }

  #start-here > div div:last-child {
    padding: 4rem;
  }

  #start-here img.lg-screen {
    display: block;
  }

  #start-here img.sm-screen {
    display: none;
  }
}

/* xl */
@media (min-width: 1280px) {
  /* Case Study */
  :root {
    --toc-width: 320px;
  }

  #toc {
    padding: 2rem;
  }

  /* Our Team */
  #our-team > div > div > div {
    max-width: none;
  }

  /* Presentation */
  #presentation iframe {
    max-height: 664px;
    max-width: 1180px;
  }

  #presentation h2 {
    font-size: 2.8rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
}
