/* @import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

:root {
  --cascade-dark-purple: #3d1170;
  /* --cascade-green-sheen: #76b7a7;
  --cascade-blue-green: #88d7c6;
  --cascade-orange: #ee6f57;
  --cascade-dark-orange: #ee5942;
  --cascade-desert-sand: #f2cdb3; */
  --cascade-pink: #cc75ff;
  --cascade-blue: #6077ff;
  --cascade-light-purple: #e8defc;
  --cascade-floral-white: white;
  --gray-50: #e8e3dc;
  --gray-100: #d3cecb;
  --gray-200: #b7b3b5;
  --gray-300: #9b979f;
  --gray-400: #86828e;
  --gray-500: #6a6778;
  --gray-600: #555267;
  --gray-700: #403e56;
  --gray-800: #2b2945;
  --gray-900: #020024;

  --toc-width: 400px;
}

/* Global */
html,
body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* hide scrollbar in aside */
aside {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

aside::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.h-full {
  height: calc(100vh - 4rem);
}

.cascade-dark-purple {
  background-color: var(--cascade-dark-purple);
}

.cascade-gradient {
  background: linear-gradient(11deg, rgba(96,119,255,1) 22%, rgba(204,117,255,1) 75%);
}

.cascade-light-purple {
  background-color: var(--cascade-light-purple);
}

.cascade-floral-white {
  background-color: var(--cascade-floral-white);
}

.text-blue {
  color: var(--cascade-blue);
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.main-section::before {
  display: block;
  content: " ";
  margin-top: 0rem;
  height: 0rem;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--cascade-floral-white);
}

/* Header */
#header {
  align-items: center;
  background-color: var(--cascade-dark-purple);
  display: flex;
  justify-content: space-between;
  height: 4rem;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  font-family: "Poppins", sans-serif;
}

#header img {
  height: 4rem;
}

#header nav {
  display: none;
}

#menu button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 0.375rem;
  color: var(--cascade-light-purple);
  display: inline-flex;
  justify-content: center;
  outline: none;
  padding: 0.5rem;
}

#menu button:hover {
  background-color: var(--cascade-light-purple);
  color: var(--cascade-dark-purple);
}

#menu button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;

  box-shadow: 0 0 0 2px var(--cascade-pink),
    0 0 0 4px var(--cascade-pink);
}

#menu button svg {
  height: 1.5rem;
  width: 1.5rem;
}

#mobile-close {
  display: none;
}

#header-buffer {
  height: 4rem;
}

#mobile-menu {
  background-color: var(--cascade-light-purple);
  display: none;
  padding: 0.25rem 0;
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  z-index: 100;
  font-family: "Poppins", sans-serif;
  padding-top: 0;
}

#mobile-menu > * + * {
  margin-top: 0.25rem;
}

#mobile-menu > a {
  border-left: 4px solid transparent;
  color: var(--gray-600);
  display: block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

#mobile-menu > a:hover {
  background-color: var(--gray-50);
  border-left-color: var(--gray-300);
  color: var(--gray-800);
}

#mobile-menu > a.selected {
  background-color: var(--cascade-blue);
  border-left-color: var(--cascade-blue);
  color: var(--gray-900);
}

.mobile-menu-open #mobile-menu {
  display: block;
}

.mobile-menu-open #mobile-close {
  display: block;
}

.mobile-menu-open #mobile-open {
  display: none;
}

/* TOC */
#toc {
  background-color: var(--cascade-light-purple);
  bottom: 0;
  left: calc(var(--toc-width) * -1);
  opacity: 0;
  overflow-y: auto;
  padding: 2rem 1rem;
  position: fixed;
  top: 4rem;
  transition: all 0.5s ease;
  visibility: hidden;
  width: var(--toc-width);
  font-family: "Poppins", sans-serif;
}

#toc li {
  margin-bottom: 1.5rem;
  line-height: 1.25rem;
}

#toc a {
  color: var(--cascade-dark-purple);
  text-decoration: none;
}

#toc a:hover {
  color: var(--cascade-pink);
}

#toc .selected a {
  color: var(--cascade-blue);
  text-decoration: none;
}

#toc p {
  font-size: 0.875rem;
  font-weight: 500;
  margin-left: 0.75rem;
}

#toc a > div {
  align-items: center;
  display: flex;
}

#toc .bullet {
  align-items: center;
  background-color: var(--cascade-light-purple);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 1.25rem;
  width: 1.25rem;
  min-width: 1.25rem;
}

#toc .bullet div {
  background-color: var(--gray-300);
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
}

#toc a:hover .bullet div {
  background-color: var(--cascade-pink);
}

#toc .selected a:hover .bullet div {
  background-color: var(--cascade-pink);
}

#toc .selected .bullet {
  background-color: var(--cascade-light-purple);
}

#toc .selected .bullet div {
  background-color: var(--cascade-blue);
}

#toc .subitem {
  display: none;
  margin-left: 1.625rem;
}

#toc .subitem.show {
  display: block;
}

/* Case Study */
#case-study-content {
  background-color: var(--cascade-floral-white);
}

#case-study-content img {
  max-width: 100%;
}

#case-study-content video {
  max-width: 100%;
}

#case-study-content > div {
  padding: 4rem 1rem;
}

#case-study-content .prose h1::before,
#case-study-content .prose h2::before,
#case-study-content .prose h3::before,
#case-study-content .prose h4::before {
  display: block;
  content: " ";
  margin-top: -6rem;
  height: 6rem;
  visibility: hidden;
  pointer-events: none;
}

.prose {
  color: var(--cascade-dark-purple) !important;
  max-width: 83ch !important;
  margin: 0 auto;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4 {
  color: var(--cascade-dark-purple);
  margin-top: 3rem;
  font-family: "Poppins", sans-serif;
}

.prose h2 {
  font-size: 1.75rem;
}

.prose h3 {
  font-size: 1.5rem;
}

.prose h4 {
  font-size: 1.25rem;
}

.prose p {
  text-align: justify;
  font-size: 1rem;
}

.prose sup {
  font-size: 0.75rem;
  color: var(--cascade-blue);
}

.prose a {
  color: var(--cascade-dark-purple);
  text-decoration: none;
  transition: all 0.3s ease;
}

.prose a:hover {
  color: var(--cascade-pink) !important;
}

.prose blockquote {
  border-left: 0.25rem solid var(--cascade-blue);
  color: var(--cascade-dark-purple);
}

.prose em {
  font-style: italic;
}

.prose code {
  color: var(--cascade-pink);
  font-family: monospace;
  font-weight: normal;
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.35rem;
  line-height: 1.5rem;
}

.prose code:before,
.prose code:after {
  content: "";
}

.prose figcaption {
  color: #091e99a6;
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
  font-weight: 500;
}

.prose blockquote ~ figcaption {
  text-align: right;
}

.prose ul li, .prose ol li {
  font-size: 1rem;
}

.prose figcaption p {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}

.prose figcaption p code {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}

.prose ol > li::before {
  color: var(--cascade-dark-purple);
  font-size: 1rem;
}

.prose-xl figcaption {
  font-size: 0.8em;
}

#case-study img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#case-study img.downsize-xl {
  width: 60rem;
}

#case-study img.downsize-l {
  width: 40rem;
}

#case-study img.downsize-m {
  width: 30rem;
}

#case-study img.downsize-ms {
  width: 24rem;
}

#case-study img.downsize-s {
  width: 20rem;
}

#case-study img.downsize-xs {
  width: 10rem;
}

.prose-xl img {
  margin-bottom: 0px;
}

.gif-group {
  /* width: 28rem; */
  display: flex;
  /* padding: 0 10px; */
  box-sizing: border-box;
}

.gif-group img {
  padding: 0 10px;
  box-sizing: border-box;
}

.endpoint,
.endpoint-2,
.docker-images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  justify-content: center;
}

.endpoint figure:first-child {
  padding-top: 1.7rem;
}

.endpoint-2 figure:first-child {
  padding-top: 0.6rem;
}

img.shadow {
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.4));
  border-radius: 7px;
}

.steps-number {
  color: var(--cascade-dark-purple);
  size: 1.2rem;
  font-weight: bold;
}

ol a {
  overflow-wrap: break-word;
}

/* Our Team */
#our-team > div {
  background-color: var(--cascade-dark-purple);
}

#our-team h2 {
  font-family: "Poppins", sans-serif;
}

#our-team > div > div {
  margin: 0 auto;
  max-width: 80rem;
  padding: 3rem 1rem;
}

#our-team > div > div > * + * {
  margin-top: 3rem;
}

#our-team > div > div > div h2 {
  color: var(--cascade-floral-white);
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 2.25rem;
}

#our-team > div > div > div p {
  color: var(--cascade-light-purple);
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#our-team > div > div > div > * + * {
  margin-top: 1.25rem;
}

#our-team ul.people > li {
  margin-top: 1rem;
}

#our-team .profile {
  background-color: var(--cascade-light-purple);
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  text-align: center;
}

#our-team .profile > * + * {
  margin-top: 1.5rem;
}

#our-team .profile > div > * + * {
  margin-top: 0.5rem;
}

#our-team .profile > div > div {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
}

#our-team .profile > div > div > * + * {
  margin-top: 0.25rem;
}

#our-team .profile > div > div > h3 {
  color: var(--gray-600);
  font-weight: 600;
}

#our-team .profile > div > div > p {
  color: var(--gray-500);
  font-size: 0.9rem;
}

#our-team .social {
  display: flex;
  justify-content: center;
}

#our-team .social > * + * {
  margin-left: 1rem;
}

#our-team .social li {
  color: var(--gray-600);
  width: 1.75rem;
  margin-top: 0.25rem;
}

#our-team .social a {
  color: var(--gray-500);
  font-size: 1.5rem;
}

#our-team .social a:hover {
  color: var(--cascade-green-sheen);
}

#our-team img {
  border-radius: 5rem;
  height: 10rem;
  width: 10rem;
}

/* Youtube */
#presentation h2 {
  margin-top: 1rem;
}

#presentation div {
  padding: 4rem 0;
  text-align: center;
  background-color: var(--cascade-light-purple);
}

#presentation iframe {
  border: 1px solid var(--gray-200);
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  height: calc(100vh - 4rem);
  margin: 0 auto;
  max-height: 304px;
  max-width: calc(100% - 2rem);
  width: 100%;
}

#presentation h2 {
  color: var(--cascade-dark-purple);
  font-weight: 800;
  font-size: 2.25rem;
  margin-bottom: 1em;
  font-family: "Poppins", sans-serif;
}

/* start-here */
#start-here > div {
  display: flex;
  flex-direction: column;
}

#start-here > div > div {
  flex: 0 0 50%;
}

#start-here .static-graphic-color {
  background-image: url("../images/logo/cascade_graphic_color.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 25%;
  background-position: 50% calc(50% / 3 + 4rem);
}

/* #start-here div.static-graphic-green-greyscale {
  display: none;
}

#start-here div.static-graphic-orange-greyscale {
  display: none;
} */

/* #start-here div.static-logo-grey-light {
  display: none;
} */

#start-here .h-full {
  height: auto;
}

/* #start-here > div div:last-child {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 1rem;
} */

/* #start-here #traces-window {
  width: 100%;
  max-width: 380px;
  filter: drop-shadow(0px 1px 3px var(--gray-700));
}

#start-here #metrics-window {
  width: 100%;
  max-width: 340px;
  filter: drop-shadow(0px 1px 3px var(--gray-700));
} */

#start-here > div div:last-child > img.cascade {
  max-width: 80%;
}

#start-here > div div:last-child > * + * {
  margin-top: 2rem;
}

#start-here > div div:last-child > p {
  color: var(--cascade-floral-white);
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

#start-here > div div:last-child > p > code {
  color: var(--cascade-floral-white);
  background-color: var(--cascade-green-sheen);
  border-radius: 0.25rem;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  font-family: monospace;
}

#start-here > div div:last-child > p.dark-text {
  color: var(--cascade-dark-purple);
}

#start-here > div div:last-child > p > span {
  font-weight: 500;
}

#start-here .cascade-floral-white,
#start-here .cascade-orange,
#start-here .cascade-green-sheen {
  align-items: center;
  display: flex;
  justify-content: center;
}

#start-here .cascade-floral-white h2,
#start-here .cascade-orange h2,
#start-here .cascade-green-sheen h2 {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--cascade-floral-white);
}

#start-here h2.sm-header {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--cascade-floral-white);
}

#start-here h2.lg-header {
  font-family: "Poppins", sans-serif;
}

#start-here video.pad {
  background-color: var(--cascade-floral-white);
  border-radius: 0.5rem;
  padding: 2rem;
}

#start-here img.lg-screen {
  display: none;
}

#start-here video {
  max-width: 100%;
}
